---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Home Page">
	<main>
		<h1 class="title "> RYAN RODRIGUEZ </h1>
		<p class="summary">
			Welcome to my awesome resume website thing. I'm
		</p>
	</main>
</Layout>
