---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';
---

<Layout title="Home Page">
	<Main>
		<div class = "text-white py-4">
			<H1 text="Ryan Rodriguez"/>
			<p>
				Ryan Rodriguez is a upcoming developer in the field of Computer Science
			</p>
		</div>
	</Main>
</Layout>
