---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';
---

<Layout title="Home Page">
		<div class = "text-white py-4">
			<H1 text="Ryan Rodriguez"/>
		</div>
		<Main>
			<Card title="About Me" body="Hello, my name is Ryan Rodriguez and I am a up-and-coming software developer. I have had an interest in code since I was very young, and since I've started attending the Morris County School of Technology, I have been able to expand my knowledge of code and software development. I have experience in a variety of languages, including Java, Python, C++, and more. I am always looking to learn more and gain experience. I am currently working with Python, HTML, CSS and JSto make projects shown on this website." href="About Me"/>
			<!--
			   <h2 class="text-white text-4xl">
				About Me
			</h2>
			<p class="text-white"> 
				Hello, my name is Ryan Rodriguez and I am a up-and-coming software developer. I have had an interest in code since I was very young, and since I've started 
				attending the Morris County School of Technology, I have been able to expand my knowledge of code and software development. I have experience in a variety of
				languages, including Java, Python, C++, and more. I am always looking to learn more and gain experience. I am currently working with Python, HTML, CSS and JS
				to make projects shown on this website. 
			</p>
			-->
		</Main>
</Layout>
