<div class="flex justify-center items-center px-24 py-4 max-sm:px5 max-sm:py10 w-screen mx-auto bg-slate-900">
    <ul class="flex gap-x-8 uppercase font-bold justify-content-center items-center ">
        <li>
            <a href="/" class="text-slate-100 hover:text-blue-400">Home</a>
        </li>
        <li>
            <a href="/about" class="text-gray-100 hover:text-blue-400">About</a>
        </li>
        <li>
            <a href="/projects" class="text-gray-100 hover:text-blue-400">Projects</a>
        <li>
            <a href="/contact" class="text-gray-100 hover:text-blue-400">Contact</a>
        </li>
    </ul>
</div>